.content {
  padding: 2rem 0;
  position: relative;

  h3 {
    font-size: 2rem;
  }
}
.date {
  position: absolute;
  top: calc(50% - 16px);
}

.date.right {
  right: calc(-20% + 16px);
}

.date.left {
  left: calc(-20% + 16px);
}

.blackLine {
  position: relative;
  display: flex;
  justify-content: center;

  .vertical {
    position: absolute;
    top: calc(50% - 3px);
    width: 1rem;
    height: 3px;
    background: #1f1f1f;
  }

  .horizontal {
    position: relative;
    background: #1f1f1f;
    width: 4px;
    height: 100%;

    svg {
      position: absolute;
      font-size: 1.5rem;
      bottom: -4px;
      left: -10px;
    }
  }
}
