.hero {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;

  .logo {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 130px;

    img {
      width: 100px;
      transform: rotate(-26deg);
    }
  }

  .triangle {
    position: absolute;
    width: 130px;
    top: 220px;
    right: -100px;
    animation-duration: 4s;
    animation-name: slide1;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .doubleTriangle {
    position: absolute;
    width: 180px;
    top: 220px;
    right: -200px;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-name: slide2;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .track {
    position: absolute;
    overflow: hidden;
    top: 270px;
    width: 100%;

    .land {
      position: relative;
      width: 100%;
    }
  }
}

@keyframes slide1 {
  from {
    right: -100px;
  }
  to {
    right: calc(100% + 100px);
  }
}

@keyframes slide2 {
  from {
    right: -200px;
  }
  to {
    right: calc(100%);
  }
}
