.hero {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  height: calc(100vh - 195px);
  margin: 0 auto;
  overflow: hidden;
  width: 100%;

  .info {
    position: absolute;
    top: 20%;
    color: #1f1f1f6b;
  }

  .infoMobile {
    display: none;
    position: absolute;
    top: 20%;
    color: #1f1f1f6b;
  }

  .logo {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 190px;

    img {
      width: 100px;
      transform: rotate(-26deg);
    }
  }

  .triangle {
    position: absolute;
    width: 130px;
    top: 280px;
    right: -130px;
  }

  .triangle.animate {
    animation-duration: 4s;
    animation-name: slide1;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .doubleTriangle {
    position: absolute;
    width: 190px;
    top: 280px;
    right: -230px;
  }

  .doubleTriangle.animate {
    animation-duration: 4s;
    animation-delay: 1s;
    animation-name: slide2;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .track {
    position: absolute;
    overflow: hidden;
    top: 330px;
    width: 100%;

    .land {
      position: relative;
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .hero {
    .triangle.animate {
      animation-duration: 2.5s;
    }

    .doubleTriangle.animate {
      animation-duration: 2.5s;
    }
  }
}

@media (max-width: 576px) {
  .hero {
    .info {
      display: none;
    }

    .infoMobile {
      display: block;
    }
  }
}

@keyframes slide1 {
  from {
    right: -130px;
  }
  to {
    right: calc(100% + 130px);
  }
}

@keyframes slide2 {
  from {
    right: -230px;
  }
  to {
    right: calc(100%);
  }
}
