.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

@media (max-width: 567px) {
  .container {
    width: 100%;
  }
}
