@use "../../scss/variable";

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
}

.wallet {
  word-break: break-all;
}

.notLogin {
  margin-top: 2rem;
}

.wrapperLogin {
  display: flex;
}

.button {
  border-radius: 10px;
  background: variable.$btn-primary;
  border: 0;
  width: 300px;
  padding: 0.5rem 1rem;
  color: variable.$text-secondary;
}

.button:hover {
  background: variable.$btn-primary-hover;
  cursor: pointer;
}
