@use "../../scss/variable";

.header {
  padding: 0.75rem 1rem;
  width: 90%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    height: 100%;
  }

  img {
    height: 100%;
  }

  img:hover {
    cursor: pointer;
    animation-name: pin;
    animation-duration: 1.5s;
  }

  .navigation {
    ul,
    li {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }

    ul {
      display: flex;

      li {
        margin: 0 2rem;
        font-weight: 700;
        cursor: pointer;
      }
      li.active {
        box-shadow: -0px 2px 0px 0px variable.$text-primary;
        -webkit-box-shadow: -0px 2px 0px 0px variable.$text-primary;
        -moz-box-shadow: -0px 2px 0px 0px variable.$text-primary;
      }

      li:hover {
        box-shadow: -0px 2px 0px 0px variable.$text-primary;
        -webkit-box-shadow: -0px 2px 0px 0px variable.$text-primary;
        -moz-box-shadow: -0px 2px 0px 0px variable.$text-primary;
      }
    }
  }

  .profileButton {
    height: fit-content;
    border-radius: 50%;
    border: none;
    background-color: #e4e4e4;
    padding: 0.5rem;
  }
}

.wrapper {
  background: variable.$bg-primary;
  display: flex;
  justify-content: center;
}

.button {
  border-radius: 20px;
  background: variable.$btn-primary;
  border: 0;
  width: 300px;
  padding: 0.5rem 1rem;
  color: variable.$text-secondary;
}

.button:hover {
  background: variable.$btn-primary-hover;
  cursor: pointer;
}

@keyframes pin {
  25% {
    transform: translateY(0%) rotate(-26deg);
  }
  50% {
    transform: translateY(-10%) rotate(-26deg);
  }
  65% {
    transform: translateY(0%) rotate(-26deg);
  }
  100% {
    transform: translateY(0%) rotate(0deg);
  }
}
