$bg-primary: #789971;
$bg-secondary: #231f20;
$btn-primary: #231f20;
$btn-primary-hover: #141212;
$btn-primary-disabled: #424242;
$font-family: "Poppins", sans-serif;
$font-size: 16px;
$text-primary: #1f1f1f;
$text-secondary: #fafafa;
