@use "./variable";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap");

* {
  font-family: variable.$font-family;
  color: variable.$text-primary;
  box-sizing: border-box;
  font-size: variable.$font-size;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

div#__next {
  height: 100%;
}

.grid-wrapper {
  min-height: 100%;
  background: variable.$bg-primary;
  display: flex;
  flex-direction: column;
}

p {
  margin: 0.25rem 0;
}

input {
  padding: 0.5rem 0.75rem;
  border-radius: 10px;
  border: 1px solid variable.$bg-secondary;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;

  img {
    width: 60px;
    animation-name: pin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
}

@keyframes pin {
  25% {
    transform: translateY(0%) rotate(-26deg);
  }
  50% {
    transform: translateY(-10%) rotate(-26deg);
  }
  65% {
    transform: translateY(0%) rotate(-26deg);
  }
  100% {
    transform: translateY(0%) rotate(0deg);
  }
}
