@use "./variable";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap");
@import "~bootstrap/scss/bootstrap";

* {
  font-family: variable.$font-family;
  color: variable.$text-primary;
  box-sizing: border-box;
  font-size: variable.$font-size;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  text-decoration: none;
}

div#__next {
  height: 100%;
}

.grid-wrapper {
  min-height: 100%;
  background: variable.$bg-primary;
  display: flex;
  flex-direction: column;
}

p {
  margin: 0.25rem 0;
}

input {
  padding: 0.5rem 0.75rem;
  border-radius: 10px;
  border: 1px solid variable.$bg-secondary;
}

.accordion-button {
  color: #1f1f1f;
  font-weight: 600;
}

.accordion-button:not(.collapsed) {
  color: #1f1f1f;
  font-weight: 600;
}
